<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MongoDb" value="mongodb://172.1631.232:27017" />
    <add key="dataBase" value="XMShopLog"/>
    <add key="cllection" value="obj"/>
  </appSettings>
</configuration>